header a{
    text-decoration : none;
    color: black;
}

hr{
    border: 1px solid skyblue;
}
section li{
    font-size: 20px;
    padding-bottom: 10px;
}

table, td, th{
    margin-left:auto; 
    margin-right:auto;
    border-collapse : collapse;
    border : 2px solid white;
    padding: 100px;
    text-align: center;        
}
table img{
    width: 150px;
    height: 150px;
}

table span{
    font-size: 15px;   
    font-style : italic; 
    color:black; 
    font-weight: 600;    
    
}
table a{
    text-decoration : none;
}
#exercise td{
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}
#exercise img{
    width:100%; 
    height:100%;    
}
table a img {
    object-fit:cover;         
    transition: transform .5s;      
}

table a:hover img {
    transform:scale(1.05);            /* 이미지 확대 */    
}

@media(max-width:1000px){
    table img{
        width: 100px;
        height: 100px;
    }
}

@media(max-width:800px){
    table td{
        display: block;
        padding: 0;
    }
    table img{
        width: 30%;
        height: 30%;
    }
}

footer{    
    text-align: center;
    padding: 60px;
}